<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.schedulemateadmin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignIn"/>
        <activity android:name=".declare.MainDeclarePage"/>
        <activity android:name=".declare.comment.CommentList"/>
        <activity android:name=".declare.community.CommunityList"/>
        <activity android:name=".declare.publicCalendar.PublicCalenderList"/>
        <activity android:name=".declare.comment.CommentContents"/>
        <activity android:name=".declare.community.CommunityContents"/>
        <activity android:name=".declare.publicCalendar.PublicCalendarContents"/>
        <activity android:name=".timeschedule.MainTimeSchedulePage"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".timeschedule.TimeScheduleList"/>
        <activity android:name=".timeschedule.AddBelong"/>
        <activity android:name=".timeschedule.AddDivision"/>
        <activity android:name=".timeschedule.AddLecture"/>
        <activity android:name=".timeschedule.AddSubject"/>
        <activity android:name=".timeschedule.AddSemester"/>
        <activity android:name=".SelectUniversity"/>
    </application>

</manifest>